<h4>{{description}}</h4>


<div ng-app="chanceApp">

    <ul class="nav nav-pills">
        <li role="presentation" ui-sref-active="active"><a ui-sref="chance" >Chance Home</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="sendmail" >eMail Request</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="addremove">Array Manipulation</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="about">About</a></li>
    </ul>

    <hr />
    <div ui-view></div>



</div>


<script src="../vendor/chance/chance.js"></script>
<script src="../vendor/angular/angular.js"></script>
<script src="../vendor/angular/angular-ui-router.min.js"></script>
<script src="../app_chance/app.js"></script>
<script src="../app_chance/home/homeController.js"></script>
<script src="../app_chance/mail/mailController.js"></script>
<script src="../app_chance/services/LocalStorageCheckService.js"></script>
<script src="../app_chance/addRemove/addremoveController.js"></script>
<script src="../app_chance/services/conditionMessages.js"></script>