<h4>{{description}}</h4>


<div ng-app="shopApp">

    <ul class="nav nav-pills">
        <li role="presentation" ui-sref-active="active"><a ui-sref="home"><i class="fa fa-shopping-cart"></i>&nbsp;Shop Home</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="about">About</a></li>
    </ul>




    <hr />
    <div ui-view></div>



</div>

<script src="../vendor/angular/angular.js"></script>
<script src="../vendor/angular/angular-ui-router.min.js"></script>
<script src="../app_shop/app.js"></script>
<script src="../app_shop/dataAccess/ShopFactory.js"></script>
<script src="../app_shop/shophome/homeController.js"></script>
<script src="../app_shop/services/checkoutService.js"></script>
<script src="../app_shop/checkout/checkoutControler.js"></script>