<h4>{{description}}</h4>
<p class="text-muted">{{instructions}}</p>

<div ng-app="showApp">

      <div ui-view></div>



</div>

<script src="../vendor/angular/angular.js"></script>
<script src="../vendor/angular/angular-ui-router.min.js"></script>
<script src="../app_shows/app.js"></script>
<script src="../app_shows/dataAccess/ShowServices.js"></script>
<script src="../app_shows/show_list/listController.js"></script>
<script src="../app_shows/show_details/detailsController.js"></script>
