<h1>{{message}}</h1>

<p>This is a Node.js, Express, Handlebars and AngularJS Example Site. It includes several examples of Handlebar templating
    along with a form which posts back to an Express endpoint. Last, we have a few Angular Single Page Applications wired up to
    demonstrate the plug and play ability of this framework. Use this template as a starting point to create something more unique.</p>