<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a Node.js, Express, Handlebars and AngularJS Example Site.
            It includes several examples of Handlebar templating along with a form which
            posts back to an Express endpoint. Last, we have an Angular Single Page Application
            wired up to demonstrate the plug and play ability of this framework.
            Use this template as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="address#/home" role="button">Direct Route to Angular Address Book Application &raquo;</a></p>
    </div>
</div>



