
<div class="jumbotron">
    <div class="container">
        <h1>Hello, JavaScript Developer!</h1>
        <p>This is a Node.js, Express, Handlebars and AngularJS Example Site.
            It includes several examples of Handlebar templating along with a form which
            posts back to an Express endpoint. Last, we have a few Angular Single Page Applications
            wired up to demonstrate the plug and play ability of this framework.
            Use this template as a starting point to create something more unique.</p>
        <p>
            <a class="btn btn-primary btn-lg" href="address#/home" role="button">Angular Address Book &raquo;</a>
            <a class="btn btn-success btn-lg" href="shop#/home" role="button">Angular Shopping Cart &raquo;</a>
            <a class="btn btn-info btn-lg" href="shows#/shows" role="button">Angular Master/Details &raquo;</a>
            <a class="btn btn-warning btn-lg" href="chance#/chance" role="button">Local Storage and eMail &raquo;</a>
        </p>
    </div>
</div>



