<h4>{{instructions}}</h4>

<div class="col-md-6">
    <form class="form-inline" role="form" action="/answer" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1"> Enter your name:</label>
            <input type="text" class="form-control" id="exampleInputEmail1"  name="userName" placeholder="...">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>
