.fade-down {
    /*-webkit-transform: translateX(3.84615rem) translate3d(0, 0, 0);*/
    /*-ms-transform: translateX(3.84615rem) translate3d(0, 0, 0);*/
    /*transform: translateX(3.84615rem) translate3d(0, 0, 0);*/
    transition: all 0s linear 0s;
    opacity: 0;
}


/*.fade-down.fade-up.ng-move,*/
 /*.fade-down.fade-up.ng-enter,*/
 /*.fade-down.fade-up.ng-leave {*/
     /*-webkit-transform: translateX(0) translate3d(0, 0, 0);*/
     /*-ms-transform: translateX(0) translate3d(0, 0, 0);*/
     /*transform: translateX(0) translate3d(0, 0, 0);*/
     /*opacity: 1;*/
 /*}*/

.fade-up {
    /*-webkit-transform: translateX(0) translate3d(0, 0, 0);*/
    /*-ms-transform: translateX(0) translate3d(0, 0, 0);*/
    /*transform: translateX(0) translate3d(0, 0, 0);*/
    transition: all .5s ease-in-out 0s;
    opacity: 1;
}

.row-break {margin-bottom: 5px; border-bottom: solid 1px #cccccc;}